<table border="3">
    <tr>
        <td>id</td>
        <td>title</td>
        <td>category</td>
        <td>publicationDate</td>
        <td>published</td>
    </tr>
    {% for a in books %}
    <tr>
        <td>{{a.id}}</td>
        <td>{{a.title| upper}}</td>
        <td>{{a.category}}</td>
         <td>{{ a.publicationDate.format('Y-m-d H:i:s') }}</td>
         <td>{{a.published}}</td>
    </tr>
    {% endfor %}
</table>